# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json
**/logs
*.log
firebase-debug.log
.firebase
 
# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
**/node_modules
/node_modules
package-lock.json

# bundle
Gemfile.lock

/blogger/plus-ui/plus-ui-v2.6.2.xml
